.bussola-page {
  background-image: url('../images/bussola-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bussola-page .intro-section {
  padding: 0 10vw;
}

.bussola-page .intro-section h1 {
  font-size: 40px;
}

.bussola-page .intro-section p {
  font-size: 20px;
}

.bussola-page .intro-section button {
  all: unset;
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 8px 20px;
  border-radius: 18px;
}