@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Mate&family=Raleway&display=swap');

:root {
  --dark: #4a2555;
  --light: #fffffc;
  --primary-color: #b131f9;
  --secondary-color: #e94d89;

  --title: 'Libre Franklin', sans-serif;
  --sub-title: 'Mate', serif;
  --text: 'Raleway', sans-serif;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

h1 {
  font-family: var(--title);
}

h2, h3, h4, h5, h6 {
  font-family: var(--sub-title);
}

p {
  font-family: var(--text);
}
